// 入口文件配置 
@import './init/reset.less';
// @import './init/variable.less';
@import './init/base.less';

body {
    font-size: 16px;
    background-color: #f8f8f8;
    -webkit-font-smoothing: antialiased;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #333;
}
